@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0rem 10%;
  background: #fff;
  font-family: "Inter", sans-serif;
  --primary: #2ec4b6;
  --secondary: #0d9183;
  --tertiary: #ff9f1c;
}
input,
button {
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 1.2rem;
  color: var(--primary);
}

h3 {
  font-size: 1rem;
  color: var(--secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 150%;
}
